# APP
# 全局请求前缀
GLOBAL_PREFIX=
# 启动端口
APP_PORT=
# 项目名称
APP_NAME=

# swagger
# 访问前缀
SWAGGER_PATH=
# 是否开启swagger文档
SWAGGER_ENABLE=
# 响应结果是否封装
SWAGGER_WRAP_RESPONSE=

# db
POSTGRES_URL=

# JWT
JWT_SECRET=
# 过期时间
JWT_EXPIRE=

# redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
# 选择的数据库索引
REDIS_DB=
# 缓存前缀
REDIS_PREFIX=

# file
# 文件访问前缀域名
FILE_DOMAIN=
# 文件存储目录 相对于项目根目录
UPLOAD_BASE_DIR=
# 上传文件大小上限 单位 M
UPLOAD_MAX_SIZE=
# 静态资源访问前缀 必须以 / 开头 /static  , 如果不需要则为空
STATIC_PREFIX=

# 日志
LOG_LEVEL=
LOG_DIR=
